{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        swing-utils/swing-utils {:mvn/version "0.2.0" :exclusions [org.clojure/clojure]}
        com.miglayout/miglayout-swing {:mvn/version "11.0"}
        org.soulspace.clj/clj.java {:mvn/version "0.9.1"}}}
